<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/map-addsongsin" method='post'>
<label>Song name: </label>
<input type="text" name="name" required/><br>
<label>Song Artist: </label>
<input type="text" name="artist" required/><br>
<label>Song Genre: </label>
<input type="text" name="genre" required/><br>
<label>Song Link: </label>
<input type="text" name="link" /><br>
<input type="submit" value="Add Songs"/>


</form>

</body>
</html>