<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel='stylesheet'  th:href="@{/CSS/admin.css}">
</head>
<body>

<form action="/logout" method="get" class="div">
<button>Logout</button>
</form>
<h1 >Welcome Mr Admin  </h1>
<a href="/clicktoaddsong">Click To Add Songs</a><br><br>
<a href="/map-showallsongs">Click to view Songs All u added</a><br><br>
<a href="/map-createplaylist">Create PlayList</a><br><br>
<a href="/map-viewplaylist">View PlayList</a><br><br>
<a href="/map-viewadminplaylist">View Admin Playlist</a>





</body>
</html>