<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body{
text-align : center;
background-color : lightblue;
font-family: "Lucida Console", "Courier New", monospace;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}


</style>
</head>
<body>
<h1>Invalid mail or password</h1>

<a href='/loginfail' class="button">click to Login</a>

</body>
</html>