<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{
padding:15% 25% ;
text-align : center;
background-color : lightblue;
}
</style>
</head>
<body>
	<form action="/loginformcontrol" method="post">
   <label>Enter Email Id:</label>
   <input type="email" name="email">
   
   <br><br>
   
   <lable>Enter Password:</lable>
  <input type="password" name="password">
  
  <br><br>
  
  <input type="submit" value="Login">
  </form>
</body>
</html>