@charset "ISO-8859-1";

body{
background-image:url(https://images.unsplash.com/photo-1571330735066-03aaa9429d89?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size:100%;
text-align:center;
padding:15%;
}
h1{
color:black;
padding:0 0 5%;
}
a{
color:black;
font-size:larger;
}
.div{
	text-align:right;
}